$footer-background-color: #2C363F;
$link-light-color: #F2F5EA;

.footer-main {
  background: $footer-background-color;
  padding: 2rem 2rem;
  color: #F2F5EA;

  a {
    color: $link-light-color;
  }
}


//legacy
$highlight: $primary-color;

.responsive-blog-footer {
  background: darken($dark-gray, 25%);
  padding: 3rem 3rem;
  color: white;

  h4 {
    @media screen and (max-width: 39.9375em) {
      font-size: 1.5rem;
    }
  }

  p {
    color: #F2F5EA;
  }


  .fa-chevron-circle-up {
    font-size: 3rem;
    color: $dark-gray;

     &:hover {
     color: lighten($dark-gray, 15%);
     transition: color 0.3s ease-in;
    }
  }
}
