$footer-background-color: #888888;

.footer-main {
  background: $footer-background-color;
  padding: 2rem 2rem;
  color: #e8e8e8;
}


//legacy
$highlight: $primary-color;

.responsive-blog-footer {
  background: darken($dark-gray, 25%);
  padding: 3rem 3rem;
  color: white;

  h4 {
    @media screen and (max-width: 39.9375em) {
      font-size: 1.5rem;
    }
  }

  p {
    color: $dark-gray;
  }


  .subscribe-button {
    background-color:$highlight;

    &:hover {
     background-color: darken($highlight, 5%);
     transition: color 0.3s ease-in;
    }
  }

  .fa-chevron-circle-up {
    font-size: 3rem;
    color: $dark-gray;

     &:hover {
     color: lighten($dark-gray, 15%);
     transition: color 0.3s ease-in;
    }
  }
}
