
.center-it {
  display: flex;
  justify-content: center;
}

.project-intro {
  background: #d8d8d8;
  width: cover;
  padding-top: 3rem;
  h1 {
    display: flex;
    align-items: baseline;
    margin-left: 3rem;
  }
}

.section-title {
  padding-top: 2.5rem;
}

.border-mod {
  margin: 0;
  padding-left: 0;
  width: 40%;
  height: 0.09em;
  background: #999999;
}

.title-subtitle {
  padding-left: 3rem;
  background: #e7e7e7;
}

.project-body {
  margin-top: 1rem;
  margin-left: 3rem;
}

.last-section {
  margin-bottom: 3rem;
}
