<footer class="footer-main">
  <div class="grid-x">
    <div class="large-4 medium-4 cell">
      <h4>Olivia McCrea</h4>
    </div>
    <div class="large-4 medium-4 cell">
      <ul class="no-bullet">
        <li>
          <a href="#header">Top</a>
        </li>
        <li>
          <a href="#project-overview">Projects</a>
        </li>
        <li>
          <a href="about.html">About Me</a>
        </li>
      </ul>
    </div>
    <div class="large-4 medium-4 cell">
      <ul class="no-bullet">
        <li>
          <a href="">Social Link</a>
          <li>
            <a href="">Social Link</a>
          </li>
        </li>
      </ul>
    </div>
  </div>
</footer>
