


<!-- Start of body below -->

<div class="responsive-nav-mobile" data-responsive-toggle="responsive-nav" data-hide-for="medium">
  <div class="responsive-nav-mobile-left">
    <ul class="menu">
      <li><a href="#top">imagine-a-small-logo-here</a></li>
    </ul>
  </div>
  <div class="responsive-nav-mobile-right">
    <button class="menu-icon" type="button" data-toggle="responsive-nav"></button>
  </div>
</div>
<!-- div class="responsive-nav" id="responsive-nav" data-sticky .... -->
<div data-sticky-container>
  <div class="responsive-nav" id="responsive-nav" data-options="marginTop:0;">
    <div class="grid-x align-justify align-middle" id="responsive-menu">

      <div class="responsive-nav-left hide-for-small-only">
        <ul class="menu">
          <li><a href="index.html">imagine-a-logo-here</a></li>
        </ul>
      </div>

      <div class="responsive-nav-right">
        <ul class="menu vertical medium-horizontal">
          <li><a href="#">My <span>Work</span></a></li>
          <li><a href="about.html"><span>About</span> me</a></li>
          <li><a href="#">Get in<span> touch</span></a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
