
<!-- Use these stylesheets for icons and typography in head of your HTML doc if you want :) -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">


<!-- Start of body below -->

<div class="responsive-nav-mobile" data-responsive-toggle="responsive-nav" data-hide-for="medium">
  <div class="responsive-nav-mobile-left">
    <ul class="menu">
      <li><a href="#top"><i class="fa fa-facebook" aria-hidden="true"></i>Olivia McCrea</a></li>
    </ul>
  </div>
  <div class="responsive-nav-mobile-right">
    <button class="menu-icon" type="button" data-toggle="responsive-nav"></button>
  </div>
</div>

<div data-sticky-container>
  <div class="responsive-nav" id="responsive-nav" data-sticky data-options="marginTop:0;">
    <div class="grid-x align-justify align-middle" id="responsive-menu">

      <div class="responsive-nav-left hide-for-small-only">
        <ul class="menu">
          <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        </ul>
      </div>

      <div class="responsive-nav-right">
        <ul class="menu vertical medium-horizontal">
          <li><a href="#">My <span>Work</span></a></li>
          <li><a href="#"><span>About</span> me</a></li>
          <li><a href="#">Get <span>in touch</span></a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
