<div class="article-row-section">
  <div class="article-row-section-inner">

    <h2 class="article-row-section-header">Projects</h2>


      <article class="article-row article-row-reversed">
        <div class="article-row-img">
          <img src="https://placehold.it/200" alt="picture of a whale eating a donkey" />
        </div>
        <div class="article-row-content">
          <h1 class="article-row-content-header">SleepSpot</h1>
          <h4 class="subheader">iOS Mobile App Design</h4>

          <p class="article-row-content-description">A mobile app design to help campers find and book campsites.</p>

          <ul>
            <li><strong>Tools:</strong> Pen & Paper, Google Docs, Sketch, InVision</li>
            <li><strong>Roles:</strong> Competitive analysis, user research & persona development, wireframing, user testing, low fidelity design, high-fidelity design, project presentation</li>
          </ul>

          <a href="SleepSpot.html" class="button">See More ></a>

        </div>
      </article>

      <article class="article-row article-row-reversed">
        <div class="article-row-img">
          <img src="https://placehold.it/200" alt="picture of a whale eating a donkey" />
        </div>
        <div class="article-row-content">
          <h1 class="article-row-content-header">SleepSpot</h1>
          <h4 class="subheader">iOS Mobile App Design</h4>

          <p class="article-row-content-description">A mobile app design to help campers find and book campsites.</p>

          <ul>
            <li><strong>Tools:</strong> Pen & Paper, Google Docs, Sketch, InVision</li>
            <li><strong>Roles:</strong> Competitive analysis, user research & persona development, wireframing, user testing, low fidelity design, high-fidelity design, project presentation</li>
          </ul>

          <a href="project.html" class="button">See More ></a>

        </div>
      </article>

      <article class="article-row article-row-reversed">
        <div class="article-row-img">
          <img src="https://placehold.it/200" alt="picture of a whale eating a donkey" />
        </div>
        <div class="article-row-content">
          <h1 class="article-row-content-header">SleepSpot</h1>
          <h4 class="subheader">iOS Mobile App Design</h4>

          <p class="article-row-content-description">A mobile app design to help campers find and book campsites.</p>

          <ul>
            <li><strong>Tools:</strong> Pen & Paper, Google Docs, Sketch, InVision</li>
            <li><strong>Roles:</strong> Competitive analysis, user research & persona development, wireframing, user testing, low fidelity design, high-fidelity design, project presentation</li>
          </ul>

          <a href="project.html" class="button">See More ></a>

        </div>
      </article>

  </div>
</div>
