
<div class="grid-x align-center navnav">

  <div class="large-3 medium-3 small-4 cell">
    <a href="about.html" class="navigation-click">Work!</a>
  </div>
  <div class="large-3 medium-3 small-4 cell">
    <a href="about.html" class="navigation-click">Profile!</a>
  </div>
  <div class="large-3 medium-3 small-4 cell">
    <a href="#contact" class="navigation-click">Contact!</a>
  </div>
</div>


  <div class="grid-x">
    <div class="large-12 medium-12 cell">
      <div class="section-title">
        <h2>Work</h2>
      </div>
    </div>
    <div class="large-12-medium-12 cell">
        <p class="border-mod">
        </p>
      </div>
    </div>


<div class="grid-x grid-margin-x align-center homepage-details">
<!-- Sleep Spot -->
    <div class="large-4 medium-4 cell">
      <div class="homepage-project-details">
        <h3>Sleep Spot</h3>
        <h4 class="deets"><strong>Roles:</strong> Research, Design, Prototype</h4>
        <p><em>Find and book campsites that meet your specific needs.</em></p>
        <a href="SleepSpot.html" class="button">Case Study</a>
      </div>
    </div>

    <div class="large-4 medium-4 cell">
      <div class="homepage-project-image">
        <h4>PICTURE TIIIIME</h4>
      </div>
    </div>

</div>
<!-- divider -->
<div class="grid-x grid-margin-x align-center">
  <div class="large-8 medium-8 small-8 cell">
    <p class="minor-separator">

    </p>
  </div>
</div>
<!-- Pear -->
<div class="grid-x grid-margin-x align-center homepage-details">

    <div class="large-4 medium-4 cell">
      <div class="homepage-project-details">
        <h3>Pear</h3>
        <h4 class="deets"><strong>Roles:</strong> Research, Branding, Marketing & Onboarding Design and Prototyping</h4>
        <p><em>Linking health practitioners and patients through an accessible web app.</em></p>
        <a href="SleepSpot.html" class="button">Case Study</a>
      </div>
    </div>

    <div class="large-4 medium-4 cell">
      <div class="homepage-project-image">
        <h4>PICTURE TIIIIME</h4>
      </div>
    </div>

</div>
<!-- divider 2 -->
<div class="grid-x grid-margin-x align-center">
  <div class="large-8 medium-8 small-8 cell">
    <p class="minor-separator">

    </p>
  </div>
</div>
<!-- Jiro Masuda: Portfolio -->
<div class="grid-x grid-margin-x align-center homepage-details">

    <div class="large-6 medium-6 cell">
      <div class="homepage-project-details">
        <h3>Jiro Masuda:</br>Portfolio</h3>
        <h4 class="deets"><strong>Roles:</strong> Client ***,Branding, Design, Development</h4>
        <p><em>Portfolio showcasing the work and services of a custom jeweler and educator.</em></p>
        <a href="SleepSpot.html" class="button">Case Study</a>
      </div>
    </div>

    <div class="large-4 medium-4 cell">
      <div class="homepage-project-image">
        <h4>PICTURE TIIIIME</h4>
      </div>
    </div>

</div>
