

<div class="small-about">



  <div class="grid-x grid-margin-x align-center">


    <div class="large-4 medium-4 cell">
      <div class="small-about-text">
        <h1 class="h4">Hey There!</h1>
        <p>Now that you've seen my work, I'd love to share more of my skills.</p>
        <a href="about.html" class="button secondary">View Profile</a>
      </div>
    </div>

<div class="large-1 medium-1 small-1 cell upline">
  <p>

  </p>
</div>


    <div class="large-4 medium-4 cell">
      <div class="contact-info">
        <h1 class="h4">...or, Get in Touch!</h1>
        <p>
          hello@oliviamccrea.com
        </p>
      </div>
    </div>

</div>


    </div>
